{% extends 'base_user_center.html' %}
{% block right_content %}
		<div class="right_content clearfix">
				<h3 class="common_title2">Receiver Address</h3>
				<div class="site_con">
					<dl>
						<dt>Address：</dt>
                        {% if address %}
						    <dd>{{ address.addr }} （{{ address.receiver }} receiver） (No. {{ address.phone }})</dd>
					    {% else %}
                            <dd>No Default Address</dd>
                        {% endif %}
                    </dl>
				</div>
				<h3 class="common_title2">Edit Address</h3>
				<div class="site_con">
					<form method="post" action="{% url 'user:address' %}">
                        {% csrf_token %}
						<div class="form_group">
							<label>Receiver：</label>
							<input type="text" name="receiver">
						</div>
						<div class="form_group form_group2">
							<label>Complete Address：</label>
							<textarea class="site_area" name="addr"></textarea>
						</div>
						<div class="form_group">
							<label>Zip Code：</label>
							<input type="text" name="zip_code">
						</div>
						<div class="form_group">
							<label>Phone：</label>
							<input type="text" name="phone">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
{% endblock right_content %}
